# Stripe Configuration
STRIPE_SECRET_KEY=
VITE_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_PRICE_ID=
VITE_APP_URL=https://ais-dev-bo4mpyqb2a63zp27m3oghf-607738492147.europe-west2.run.app
NEXT_PUBLIC_APP_URL=https://ais-dev-bo4mpyqb2a63zp27m3oghf-607738492147.europe-west2.run.app
NEXT_PUBLIC_API_URL=https://vcmeserver-git-366135769212.europe-west1.run.app
